.vc_custom_1450677977665 {
	margin-bottom: 0px !important;
}
.vc_custom_1450692516354 {
	margin-bottom: 60px !important;
}
.vc_custom_1450856873482 {
	margin-bottom: 37px !important;
}
.vc_custom_1451476985704 {
	padding-top: 53px !important;
	padding-bottom: 70px !important;
	background-color: #f2f2f2 !important;
}
.vc_custom_1483436740696 {
	margin-bottom: 53px !important;
	padding-top: 110px !important;
	padding-bottom: 81px !important;
	background-image: url(http://anzeh.com/images/anni_coffee2.jpg) !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}
.vc_custom_1450960276268 {
	margin-bottom: 73px !important;
}
.vc_custom_1450961224119 {
	padding-top: 41px !important;
	padding-bottom: 42px !important;
	background-color: #f2f2f2 !important;
}
.vc_custom_1483437177602 {
	/* margin-bottom: 42px !important; */
	padding-top: 66px !important;
	padding-bottom: 66px !important;
	background-image: url(http://anzeh.com/images/anni_coffee3.jpg) !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}
.vc_custom_1451479401686 {
	margin-bottom: 31px !important;
}
.vc_custom_1451043728133 {
	margin-bottom: 32px !important;
}
.vc_custom_1451300723020 {
	margin-bottom: 0px !important;
	padding-top: 96px !important;
	padding-bottom: 80px !important;
	background-color: #222222 !important;
}
.vc_custom_1453109987955 {
	margin-bottom: -60px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}
.vc_custom_1495630569356 {
	margin-bottom: 0px !important;
}
.vc_custom_1455871682892 {
	margin-bottom: 28px !important;
}
.vc_custom_1455871593995 {
	margin-bottom: 30px !important;
}
.vc_custom_1495714664917 {
	margin-bottom: 61px !important;
}
.vc_custom_1495714677591 {
	margin-bottom: 76px !important;
}
.vc_custom_1495776904400 {
	margin-bottom: 19px !important;
}


.vc_custom_1451991003825 {
	margin-bottom: 100px !important;
}
.vc_custom_1451889219674 {
	margin-bottom: -60px !important;
}
.vc_custom_1482838207374 {
	margin-top: 40px !important;
}
.vc_custom_1455883727307 {
	margin-bottom: 34px !important;
}
.vc_custom_1453471528699 {
	margin-bottom: 15px !important;
}
.vc_custom_1453471549250 {
	margin-bottom: 28px !important;
}
.vc_custom_1495692173476 {
	margin-bottom: 0px !important;
}


.vc_custom_1451998133493 {
	margin-bottom: 30px !important;
}
.vc_custom_1452056597103 {
	margin-right: 0px !important;
	margin-bottom: 30px !important;
	margin-left: 0px !important;
}
.vc_custom_1452056633692 {
	padding-top: 37px !important;
	padding-right: 30px !important;
	padding-bottom: 40px !important;
	padding-left: 30px !important;
}
.vc_custom_1451998719729 {
	margin-bottom: 9px !important;
}
.vc_custom_1452575288633 {
	margin-bottom: 17px !important;
}



.vc_custom_1452509933393 {
	margin-bottom: 41px !important;
}
.vc_custom_1451889219674 {
	margin-bottom: -60px !important;
}
.vc_custom_1452504967583 {
	margin-bottom: 33px !important;
}
.vc_custom_1470400919598 {
	background-color: #e5e3df !important;
}
.vc_custom_1452504298195 {
	padding-top: 46px !important;
	padding-right: 50px !important;
	padding-bottom: 46px !important;
	padding-left: 50px !important;
	background-image: url(http://consulting.stylemixthemes.com/wp-content/uploads/2015/12/contact_us_block.jpg?id=493) !important;
}
.vc_custom_1453959190863 {
	margin-bottom: 30px !important;
}
.vc_custom_1453959180438 {
	margin-bottom: 30px !important;
}
.vc_custom_1452504967583 {
	margin-bottom: 33px !important;
}
.vc_custom_1470400928114 {
	background-color: #e5e3df !important;
}
.vc_custom_1452504298195 {
	padding-top: 46px !important;
	padding-right: 50px !important;
	padding-bottom: 46px !important;
	padding-left: 50px !important;
	background-image: url(http://consulting.stylemixthemes.com/wp-content/uploads/2015/12/contact_us_block.jpg?id=493) !important;
}
.vc_custom_1452504747577 {
	margin-bottom: 30px !important;
}
.vc_custom_1452507138250 {
	margin-bottom: 30px !important;
}
.vc_custom_1452504967583 {
	margin-bottom: 33px !important;
}
.vc_custom_1470400936383 {
	background-color: #e5e3df !important;
}
.vc_custom_1452504298195 {
	padding-top: 46px !important;
	padding-right: 50px !important;
	padding-bottom: 46px !important;
	padding-left: 50px !important;
	background-image: url(http://consulting.stylemixthemes.com/wp-content/uploads/2015/12/contact_us_block.jpg?id=493) !important;
}
.vc_custom_1452504747577 {
	margin-bottom: 30px !important;
}
.vc_custom_1452507138250 {
	margin-bottom: 30px !important;
}
.vc_custom_1452504967583 {
	margin-bottom: 33px !important;
}
.vc_custom_1470401052215 {
	background-color: #e5e3df !important;
}
.vc_custom_1452504298195 {
	padding-top: 46px !important;
	padding-right: 50px !important;
	padding-bottom: 46px !important;
	padding-left: 50px !important;
	background-image: url(http://consulting.stylemixthemes.com/wp-content/uploads/2015/12/contact_us_block.jpg?id=493) !important;
}
.vc_custom_1452504747577 {
	margin-bottom: 30px !important;
}
.vc_custom_1452507138250 {
	margin-bottom: 30px !important;
}
.vc_custom_1495693769509 {
	margin-bottom: 0px !important;
}
